/output/
**/output

logs
**/*.log

.DS_Store
**/.DS_Store

*.iml
**/*.iml

.idea/
**/.idea
**/.idea/*
.idea/*
.idea/workspace.xml
### Java template
*.class
*.jar

target/

.settings/
.project
.classpath

META-INF
